<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
</head>
<body>
    <div class="album py-5 bg-light">
    <div class="d-flex justify-content-center pb-4">
        <h1 >Access Denied</h1>
    </div>
    <p class="d-flex justify-content-center mx-5 px-2">You do not have permission to access this page.</p>
    </div>
</body>
</html>